version: 2.1

orbs:
  codacy: codacy/base@10.0.2

workflows:
  version: 2
  compile_test_deploy:
    jobs:
      - codacy/checkout_and_version:
          write_sbt_version: true
      - codacy/sbt_docker:
          name: test
          steps:
            - run:
                name: Scalafmt sources
                command: sbt scalafmtCheckAll
            - run:
                name: Scalafmt sbt sources
                command: sbt scalafmtSbtCheck
            - run:
                name: Compile
                command: sbt +compile
            - run:
                name: Test
                command: sbt +test
          requires:
            - codacy/checkout_and_version
      - codacy/sbt:
          name: publish
          cmd: |
            sbt "clean;retrieveGPGKeys;+publishSigned;sonatypeBundleRelease"
          context: CodacyAWS
          requires:
            - test
          filters:
            branches:
              only:
                - master
      - codacy/tag_version:
          requires:
            - publish
